.card {
  margin: 20px;
  width: 350px;
  height: 300px;
  border-radius: 5px;
  background: var(--i);
  background-size: cover;
  box-shadow: 3px 5px 5px rgba(3, 32, 51, 0.8);
  overflow: hidden;
}

.imagen {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.hoverText {
  height: 100%;
  width: 100%;
}
